<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title></title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div id="main">
  </div>

  <script id="new-author" type="text/template">
    <h2>New author</h2>
    <fieldset>
      <label for="author[name]">Name</label>
      <input type="text" name="author[name]" id="" />
    </fieldset>
    <button class="button done" type="submit">Done</button>
    <button class="button cancel" type="submit">Cancel</button>
  </script>

  <script id="edit-author" type="text/template">
    <h2>Edit author</h2>
    <form action="" method="get" accept-charset="utf-8">
      <fieldset>
        <label for="author[name]">Title</label>
        <input type="text" name="author[name]" id="" value="<%%- author.name %>" />
      </fieldset>
    </form>
    <h3>Comics written:</h3>
    <%% _.each(comics, function(comic) { %>
    <li>
      <a href="/comics/<%%- comic.get('id') %>">
        <%%- comic.get('title') %>
      </a>
    </li>
    <%% }); %>
  </script>

  <script id="edit-comic" type="text/template">
    <h2>Add comic</h2>
    <form action="" method="get" accept-charset="utf-8">
      <fieldset>
        <label for="comic[title]">Title</label>
        <input type="text" name="comic[title]" id="" value="<%%- comic.title %>" />
      </fieldset>
      <fieldset>
        <label for="comic[title]">Synopsis</label>
        <textarea name="comic[synopsis]"><%%- comic.synopsis %></textarea>
      </fieldset>
      <fieldset>
        <label for="comic[author_id]">Author</label>
        <select name="comic[author_id]">
          <%% _.each(authors, function(author) { %>
          <option value="<%%- author.get('id') %>" <%%- author.get('id') === comic.author_id ? "selected" : "" %>>
            <%%- author.get('name') %>
          </option>
          <%% }); %>
        </select>
        <a class="add-author" href="#">Add author</a>
      </fieldset>
      <fieldset>
        <label for="comic[cover]">Image</label>
        <input type="file" name="comic[cover]" id="comic-cover"/>
        <%% if (comic.image_url) { %>
          <img class="thumb" src="<%%- comic.image_url %>" >
        <%% } %>
      </fieldset>
    </form>
  </script>

  <script id="menu-template" type="text/template">
    <ul id="menu-list">
      <li>
        <a id="list-comics" href="/comics">Comics</a>
      </li>
      <li>
        <a id="new-comic" href="/comics/new">Add Comic</a>
      </li>
      <li>
        <a id="list-authors" href="/authors">Authors</a>
      </li>
    </ul>
  </script>

  <script id="author-item" type="text/template" charset="utf-8">
    <a href="/authors/<%%- id %>" class="edit-link title">
      <%%- name %>
    </a>
  </script>

  <script id="comic-item" type="text/template" charset="utf-8">
    <div class="image">
      <img class="thumb" src="<%%- image_url %>" >
    </div>

    <a href="/comics/<%%- id %>" class="edit-link title">
      <%%- title %>
    </a>

    <div class="synopsis">
      <%%- synopsis %>
    </div>
  </script>

  <script id="layout-view-template" type="text/template">
    <div id="menu">
    </div>
    <div id="content">
      hey
    </div>
  </script>


  <%= javascript_include_tag 'application' %>
</body>
</html>
